let user = [
{
id: 1,
name: "Leanne Graham",
username: "Bret",
email: "Sincere@april.biz",
},
{
id: 2,
name: "Ervin Howell",
username: "Antonette",
email: "Shanna@melissa.tv",
},
{
id: 3,
name: "Clementine Bauch",
username: "Samantha",
email: "Nathan@yesenia.net",
},
{
id: 4,
name: "Patricia Lebsack",
username: "Karianne",
email: "Julianne.OConner@kory.org",
},
{
id: 5,
name: "Chelsey Dietrich",
username: "Kamren",
email: "Lucio_Hettinger@annie.ca",
},
{
id: 6,
name: "Mrs. Dennis Schulist",
username: "Leopoldo_Corkery",
email: "Karley_Dach@jasper.info",
},
{
id: 7,
name: "Kurtis Weissnat",
username: "Elwyn.Skiles",
email: "Telly.Hoeger@billy.biz",
},
{
id: 8,
name: "Nicholas Runolfsdottir V",
username: "Maxime_Nienow",
email: "Sherwood@rosamond.me",
},
{
id: 9,
name: "Glenna Reichert",
username: "Delphine",
email: "Chaim_McDermott@dana.io",
},
{
id: 10,
name: "Clementina DuBuque",
username: "Moriah.Stanton",
email: "Rey.Padberg@karina.biz",
},
];

if(localStorage.getItem("users")==null){
    localStorage.setItem("users",JSON.stringify(user));
}

let users = JSON.parse(localStorage.getItem("users"));

let container = document.getElementById("users");

showUsers();

function showUsers(){

    container.innerHTML="";

    users.forEach(function(element){

        let card=document.createElement("div");

        let name=document.createElement("h3");
        name.innerText=element.name;

        let email=document.createElement("p");
        email.innerText=element.email;

        let btn=document.createElement("button");
        btn.innerText="Add To Cart";

        btn.onclick=function(){
            addToCart(element);
        }

        card.append(name,email,btn);

        container.append(card);

    });

}

function addToCart(item){

    let cart=JSON.parse(localStorage.getItem("cart")) || [];

    cart.push(item);

    localStorage.setItem("cart",JSON.stringify(cart));

    alert("Added To Cart");

}